@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 24px 32px 0px;
}

@media (min-width: 768px) {
  body {
    padding: 48px 64px 0px;
  }
}